@font-face {
  font-family: "Roundabout";
  src: url("./ChevyRayRoundabout.ttf") format("truetype");
}

html {
  --bc: #b8b8b8;
  --bc-l: #b8b8b8;
  --text-light: #ffffff;
  --text-dark: #514eff;
  --color-1: #ffffff;
  --color-2: #3d1591;
  --color-3: #F7C924;
  --color-4: #F96C6C;
}

body {
  background: var(--bc);
  font: normal normal 1rem/1 "Roundabout";
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  display: flex;
  color: white;
  overflow: hidden;
}

canvas {
  display: block;
  background: var(--bc-1);
  margin: 10px auto;
}

.canvas-container {
  position: relative;
}

#canvas {
  cursor: url(cursor.png), auto;
}

#ui-canvas {
  position: absolute;
  top: 0;
}

.start-screen,
.end-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--bc);
  z-index: 1;
  transition: all .5s;
  top: 0;
  left: 0;
}

.start-screen {
  background-image: url(rainbows.svg);
  background-size: contain;
  background-position-y: center - 8px;
}

.start-screen-content,
.end-screen-content {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen.hidden,
.end-screen.hidden {
  top: 120vh;
}

.start-screen-content h1 {
  font-size: 180px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  margin-top: 40px;
  margin-bottom: 15vh;
}

.start-screen-content button {
  -webkit-appearance: none;
  background: var(--text-dark);
  color: var(--text-light);
  font: inherit;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.end-screen h2 {
  font-size: 70px;
  letter-spacing: 3px;
  line-height: 0.8;
}

.end-screen p {
  font-size: 25px;
  background: var(--text-dark);
  color: var(--text-light);
  padding: 15px;
}

.end-screen img {
  width: 90vw;
  max-width: 400px;
  margin-top: 10vh;
}

.win-message.hidden {
  opacity: 0;
  top: 60%;
}

.win-message {
  opacity: 1;
  transition: all .3s;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0 14px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  pointer-events: none;
  background: var(--text-dark);
}

.main {
  width: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center
}

@media (max-width: 700px) {
  .main {
    width: 90vw;
  }
}

p {
  margin-bottom: 5px;
  color: var(--text-light);
  font-family: "Roundabout";
  font-size: 20px;
}

#brushes {
  display: none;
}

#sprite {
  display: none;
}

.metadata-area {
  display: flex;
  margin-bottom: 20px;
}

.col {
  background: var(--text-dark);
  padding: 15px 20px 10px 20px;
}

.col:first-child {
  width: 25%;
  margin-right: 20px;
}

.col:last-child {
  width: 70%;
}

.col p {
  margin: 0;
}

.level,
.time-remaining {
  font-size: 50px;
  text-align: right;
}

.indicator-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.hashes {
  border-bottom: 1px solid white;
  margin: 12px 0;
  position: relative;
}

.hash {
  border-left: 1px solid white;
  position: absolute;
  height: 10px;
  width: 0;
  top: -5px;
}

.hash:nth-child(2) {
  left: 25%;
}

.hash:nth-child(3) {
  left: 50%;
}

.hash:nth-child(4) {
  left: 75%;
}

.hash:nth-child(5) {
  left: 100%;
}

.bars {
  width: 100%;
  height: 15px;
  display: flex;
  position: relative;
}

.bars.current {
  background: var(--bc-l);
  margin-right: 10px;
}

.bars > div {
  transition: all .3s;
}

.indicator1 {
  background-color: var(--color-1);
}
.keyboard-controls > p:nth-child(1) {
  color: var(--color-1);
}

.indicator2 {
  background-color: var(--color-2);
}
.keyboard-controls > p:nth-child(2) {
  color: var(--color-2);
}

.indicator3 {
  background-color: var(--color-3);
}
.keyboard-controls > p:nth-child(3) {
  color: var(--color-3);
}

.indicator4 {
  background-color: var(--color-4);
}
.keyboard-controls > p:nth-child(4) {
  color: var(--color-4);
}

.keyboard-controls {
  display: none;
  justify-content: center;
}

.keyboard-controls > p {
  background: var(--bc);
  border: 4px solid var(--bc);
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  text-transform: lowercase;
  font: italic 900 30px/1 Hatch;
}

.keyboard-controls > p.down {
  border: 4px solid var(--text-dark);
}
